/*
Name:     		Main Style CSS
Description:    Basic theme responsive
Author:         Great Job
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
	clear: both;
}
body {
	background: #F8F8F8;
	color:#222222;
	margin: 0px auto;
	max-width: 1200px;
}

h1 {	
	font-family: 'Open Sans', sans-serif;
	font-size: 4.5em; /*72px*/
	font-weight: 300;
	text-align: left;
	margin: 0;
	padding: 0;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.875em; /*30px*/
	font-weight: 400;
	text-align: left;
	margin: 0;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em; /*24px*/
	font-weight: 400;
	text-align: left;
	margin: 0;
	padding: 0;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.375em; /*22px*/
	font-weight: 300;
	text-align: left;
	margin: 0;
	padding: 0;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125em; /*18px*/
	font-weight: 300;
	color:#222222;
}
p > * {
	font-family: 'Open Sans' , sans-serif;
	font-size: 1em; /*18px*/
	font-weight: 300;
	color:#222222;
}
a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em; /*18px*/
	font-weight: 300;
	color:#222222;
	text-decoration: none;
}
a:hover { 
	color: #909090
}
body > .wrapper> #header #name h1 .logo {
	font-size: 30px; /*30px*/
	margin: 30px 0 0 0;
}
/*body > .logotwo:after {
	font-size: 20px;
}*/
#header {
    /*border: 0 none;*/
    padding-top: 1em;
    display: block;
    background-color: #F8F8F8;
    width: 100%;
    /*height: 50px;*/
}
#content {
	margin: 0;
	padding: 0;
    vertical-align: baseline;
    display: block;
    width: 100%;
	text-align: left;
}
#content > h1 {
	padding-top: 2em;
	padding-bottom: 1.5em;
}
#name {
	float: left;
	font-size: 22px;
}
#nav {
	float: right;
}
#nav a {
	display: inline;
	padding-left: 20px;
}
.menu_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 20px;
}
.credit {
	text-align: center;
	font-size: 16px;
	float: left;
	/*margin-top: 1.25em;*/
	display: block;
}
/*responsive section*/
@media screen and (max-width: 480px) {
	body {
		max-width: 90%;
		padding: auto;
	}
	#header {
    	padding-top: 1em;
    	display: block;
    	background-color: #F8F8F8;
    	width: 100%;
    }
	body > .wrapper> #header #name h1 .logo {
		display: none;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.25em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1.125em;
	}
	p {
		font-size: 1em;
	}
	p > * {
		font-size: 1em;
	}
	a {
		font-size: 1em;
	}
	#nav {
		float: none;
		padding-bottom: 2em;
	}
	#nav a{
		display: block;
		text-align: center;
		padding-left: auto;
		padding: 0 0 1em 0;
	}
	#content > h1{
		display: block;
		padding-top: 1em;
		padding-bottom: 1.5em;
	}
}